<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensorslife">

<!-- 开始本软件的权限申明 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="com.sensorslife.READ_CONTEXT_DATA"

        android:label="Read DataBaseTest&apos;s Context data"
        android:protectionLevel="normal" >
    </permission>

    <permission
        android:name="com.sensorslife.WRITE_CONTEXT_DATA"

        android:label="Write to DataBaseTest&apos;s Context data"
        android:protectionLevel="normal" >
    </permission>
    <!-- 对于软件来说，权限到此为止, 但接下来还会继续 -->
    <uses-permission android:name="com.sensorslife.READ_CONTEXT_DATA" />
    <uses-permission android:name="com.sensorslife.WRITE_CONTEXT_DATA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<!--暂时还没有圆形图标      android:roundIcon="@mipmap/ic_launcher_round"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--仅仅只是：测试活动-->
        <activity android:name=".Test.CardViewTest"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:enabled="@bool/display"
            android:exported="true"
            android:label="卡片视图测试"
            android:theme="@style/AppTheme"
            >
        </activity>

        <!--关于我们的界面展示-->
        <activity android:name=".UI_Managers.About_Activity"

            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:enabled="@bool/display"
            android:exported="true"
            android:label="@string/about_us"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.sensorslife.MainActivity">
        </activity>
        <!--数据展示界面-->
        <activity android:name=".UI_Managers.Current_Information"

            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:enabled="@bool/display"
            android:exported="true"
            android:label="@string/app_data"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.sensorslife.MainActivity">

        </activity>
        <!--设置界面-->
        <activity android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:enabled="@bool/display"
            android:exported="true"
            android:label="@string/app_settings"
            android:theme="@style/AppTheme"
            >

        </activity>

<!--程序主界面入口-->
        <activity android:name=".Main_Screen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:enabled="@bool/display"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--开始所有的服务-->
        <!--核心服务-->
        <service
            android:name="com.sensorslife.Core_Activity"
            android:exported="true" >
        </service>
        <!--电池-->
        <service
            android:name="com.sensorslife.Sensor_Activities.Battery_Activity"
            android:exported="true" >
        </service>
        <!--光线-->
        <service
            android:name="com.sensorslife.Sensor_Activities.Light_Activity"
            android:exported="true" >
        </service>
        <!--定位-->
        <service
            android:name="com.sensorslife.Sensor_Activities.Location_Activity"
            android:exported="true" >
        </service>


<!--定义广播接收-->
        <!--数据清理、更新……-->
        <receiver
            android:name="com.sensorslife.Core_Activity$Share_Broadcaster"
            android:exported="true" >
            <intent-filter>
                <action android:name="ACTION_AWARE_SYNC_DATA" />
                <action android:name="ACTION_AWARE_CLEAR_DATA" />
                <action android:name="ACTION_AWARE_CONFIGURATION" />
                <action android:name="ACTION_AWARE_REFRESH" />
            </intent-filter>
        </receiver>
        <!--存储挂载-->
        <receiver
            android:name="com.sensorslife.Core_Activity$Storage_Broadcaster"
            android:exported="true" android:enabled="@bool/display">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

<!--开始所有的数据提供接口-->
        <!--基本数据-->
        <provider
            android:name="com.sensorslife.Data_Managers.Basic_Data"
            android:authorities="${applicationId}.provider.basic"
            android:exported="true"
            android:enabled="@bool/display"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <!--电池-->
        <provider
            android:name="com.sensorslife.Data_Managers.Battery_Data"
            android:authorities="${applicationId}.provider.battery"
            android:exported="true"
            android:enabled="@bool/display"
            android:readPermission="com.sensorslife.READ_CONTEXT_DATA"
            android:writePermission="com.sensorlife.WRITE_CONTEXT_DATA"
            >
        </provider>
        <!--定位-->
        <provider
            android:name="com.sensorslife.Data_Managers.Location_Data"
            android:authorities="${applicationId}.provider.locations"
            android:exported="true"
            android:enabled="@bool/display"
            android:readPermission="com.sensorslife.READ_CONTEXT_DATA"
            android:writePermission="com.sensorslife.WRITE_CONTEXT_DATA"
            >
        </provider>
        <!--光线-->
        <provider
            android:name="com.sensorslife.Data_Managers.Light_Data"
            android:authorities="${applicationId}.provider.light"
            android:exported="true"
            android:enabled="@bool/display"
            android:readPermission="com.sensorslife.READ_CONTEXT_DATA"
            android:writePermission="com.sensorlife.WRITE_CONTEXT_DATA"
            >
        </provider>



    </application>

<!--最后还加一个互联网权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>